.QR-container {
  position: fixed;
  bottom: 50px; 
  right: 20px;
  z-index: 2147483647;
}

.QR-bubble {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #eee;
  background: red;
  text-align: center;
}

.QR-bubble-menu {
  display: none;
}

.QR-bubble-auth-container {
  display: none;
  background: red;
  border: 1px solid #000;
  padding: 20px;
}

.QR-container:hover {
  .QR-bubble { display: none; } 
  .QR-bubble-menu { display: block; }
  .QR-bubble-auth-container { display: block; }
} 

.QR-bubble-menu-item {
  text-align: center;
  float: right;
  height: 50px;
  min-width: 50px;
  border-radius: 50%;
  border: 1px solid #eee;
  background: red;
}

.QR-sendit-container {
  position: absolute;
  z-index: 2147483647;
  bottom: 70px;
  right: 0;
  height: 200px;
  width: 200px;
  background: red;
  border: 1px solid #000;
}  